/* ______zad_8__________________ */
body{
    background-color: rgb(37, 39, 41);
}
*{
    margin: 0px;
    padding: 0px;
}
#zad8{
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    text-align: justify;
    font-weight: bolder ;
    font-family: arial;
}
#m1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
#m2{
    list-style-type: none;
    margin: 0px;
    padding: 0px;

}
#zad8 #m1 li{
    /* display: inline-block;
    padding-right: 0px; */
    float: left;
}
#zad8 #m2 li{
    display: inline;
    padding: 10px;
}
#menu2{
    background-color: black;
    height: 50px;
}
#menu3{
    text-align: center;

}
#zad8 h1,#zad8 h2{
    text-align: center;
    color: rgb(196, 142, 44);
}
#zad8 p{
    padding: 0px 10px;
    color: rgb(196, 142, 44);
    text-indent: 50px;
}
#zad8 #menu2 a:link,#zad8 #menu2 a:visited{
    text-decoration: none;
    color: lightgrey;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
}
#menu2 #home a:link, #menu2 #home a:visited{
    text-decoration: none;
    color:green;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    background-color: lightgrey;
}
#zad8 #menu2 a:hover{
    text-decoration: none;
    color:green;
    display: block;
    line-height: 50px;
    padding: 0px 20px;
    background-color: lightgrey;
}
#zad8  a:link.orange,#zad8  a:visited.orange{
    color:rgb(196, 142, 44);
    font-weight: bold;
}
#zad8  a:hover.orange{
    color:black;
    font-weight: bold;
}


#menu3 a:link,#menu3 a:visited{
    color:rgb(156, 122, 58);
    text-decoration: none;
    font-size: smaller;
}

#menu3 {
    text-align: center;
    height: 100%;
    margin: 50px;
 }
#menu3 a::before{
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-top: 30px;
    padding:0px 10px;
}
#menu3 a:hover{
    animation: anim 1.5s ease infinite;
    color: #ba7f32;
    }   
    
@keyframes anim{
from{
    transform: scale(1);
}
50%{
    transform: scale(1.2);
}
to{
    transform: scale(1);
}
}

#content{
    background-image: url('zakomp.jpg');
    /* background-repeat: no-repeat; */
    height: 620px;
    position: relative;
}

#content-div{
    width: 100%;
    height: 620px;
    position: relative;
}

#content-frame{
    width: 500px;
    height: 250px;
    border: 50px solid green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.3;
}

#content-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center;
}

#content-text div:first-child{
    font-size: 25px;
    padding-bottom: 20px;
    font-family: Serif;
    letter-spacing: 4px;
}
#content-text div:last-child{
    font-size: 20px;
    font-family: Mistral;
}

#content-music{
    margin: 0px;
    width: 100%;
    background-color: rgb(37, 39, 41);
}
#box-image{
    width: 400px;
    height: 400px;
    margin: 0px auto;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
#box-image img{
    width: 100%;
    display: block;
}

#box-music{
    width: 650px;
    margin: 0px auto;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.audio-and-label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.audio-and-label div:first-child{
    padding-left: 20px;
    color: white;
}

#text-label{
    text-align: center;
    padding:10px;
    color: white;
    font-size: 40px;
    font-family: Mistral;
}

#content-video{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.full-screen{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.full-screen__body{
    padding: 50px 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    z-index: 2;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    color: white
}
.full-screen__title{
    font-size: 50px;
    letter-spacing: 25px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
}
.full-screen__text{
    font-size: 18px;
    letter-spacing: 15px;
}
.full-screen__video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-video__text{
    background-color: rgb(37, 39, 41);
}
.content__container{
    max-width: 1200px;
    margin: 0px auto;
    padding: 50px 15px;
    font-size: 18px;
    line-height: 150%;
}
.content__container p{
    margin: 0px 0px 20px 0px;
    color: orange;
}
